{% extends "account/base.html" %}
{%load static %}
{% block content %}
<div class="row no-margin-padding">
  <div class="col-md-6">
    <h3 class="block-title">Add Patient</h3>
  </div>
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">
          <span class="ti-home"></span>
        </a>
                  </li>
                  <li class="breadcrumb-item">Patients</li>
      <li class="breadcrumb-item active">Add Patient</li>
    </ol>
  </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container-fluid">

  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Patient Information</h3>
        <form method="POST" class="form-sample" action="{% url 'reception:add-patient' %}" novalidate>
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6 required">
              <label for="patient-name" class="control-label">Patient First Name</label>
              {{ form.firstname }}
            </div>

            <div class="form-group col-md-6 required">
              <label for="patient-name" class="control-label">Patient Last Name</label>
              {{ form.lastname }}
            </div>

            <div class="form-group col-md-6 required">
              <label for="age">Age</label>
              {{form.age}}
            </div>

            <div class="form-group col-md-6 required">
              <label for="dob" class="control-label">Date Of Birth</label>
              {{form.dob}}
            </div>

            <div class="form-group col-md-6 required">
              <label class="control-label">Status</label>
              {{form.status}}
            </div>

            <div class="form-group col-md-6 required">
              <label for="phone" class="control-label">Phone</label>
              {{form.phone}}
            </div>

            <div class="form-group col-md-6">
              <label for="email">Email</label>
              {{form.email}}
            </div>

            <div class="form-group col-md-6 required">
              <label for="gender" class="control-label">Gender</label>
            {{form.gender}}
            </div>

            <div class="form-group col-md-6 ">
              <label>Occupation</label>
            {{form.occupation}}
            </div>

            <div class="form-group col-md-6 ">
              <label>ID</label>
            {{form.patient_identification}}
            </div>

            <div class="form-group col-md-12 required">
              <label for="exampleFormControlTextarea1" class="control-label">Address</label>
              {{form.address}}
            </div>

            <div class="form-group col-md-12">
              <label for="file">Medical File</label>

              {{form.image}}
            </div>
            </div>




        <h3 class="widget-title">Payment Option</h3>
      </hr>
    </br>
    <div class="form-group col-md-6 required">
      <label for="exampleFormControlTextarea1">Payment</label>
      {{form.payment}}
    </div>


            <div class="form-group col-md-6 mb-3">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>

        </form>

  </div>
</div>
</div>

            <script>
            (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('form-sample');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                  }, false);
                  });
                  }, false);
                  })();
            </script>
            <script src="{% static 'doctor/js/intlTelInput.js' %}"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input);
</script>



















{% endblock %}
