{% extends "doctor/base.html" %}
{% load static %}
{% block content %}
<!-- partial -->
  <div class="page-wrapper">

              <div class="card">
                <div class="card-body">
                  <form class="form-sample " method="POST" action="{% url 'reception:add-patient' %}" novalidate>
                    {% csrf_token %}
                    <p class="card-description">
                    </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row required">
                          <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">FirstName</label>
                          <div class="col-sm-9">
                            {{ form.firstname }}

                          </div>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">LastName</label>
                          <div class="col-sm-9">
                            {{ form.lastname }}
                          </div>
                        </div>
                      </div>
                       <div class="col-md-6">
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">Gender</label>
                          <div class="col-sm-9">
                            {{ form.gender }}
                          </div>
                        </div>
                      </div>
                       <div class="col-md-6">
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">Phone</label>
                          <div class="col-md-9">
                            {{ form.phone }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">date of Birth</label>
                          <div class="col-sm-9">
                            {{ form.dob }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Age</label>
                          <div class="col-sm-9">
                            {{ form.age }}
                          </div>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">Marital Status</label>
                          <div class="col-sm-9">
                            {{ form.status }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">Address</label>
                          <div class="col-sm-9">
                            {{ form.address }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label ">Email</label>
                          <div class="col-md-9">
                            {{ form.email }}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label ">Occupation</label>
                          <div class="col-md-9">
                            {{ form.occupation }}
                          </div>
                        </div>
                        <div class="form-group row required">
                          <label class="col-sm-3 col-form-label control-label">Payment Method</label>
                          <div class="col-md-9">
                            {{ form.payment }}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Patient Image</label>
                          <div class="col-md-9">
                            {{ form.image }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="float: right;">
                      <button type="submit" class="btn btn-success mr-2">Add Patient</button>
                     {#  <button class="btn btn-light">Cancel</button> #}
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <script>
            (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('form-sample');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                  }, false);
                  });
                  }, false);
                  })();
            </script>
            <script src="{% static 'doctor/js/intlTelInput.js' %}"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input);
</script>



{% endblock %}
