{% extends 'doctor/base.html'%}
{% block content%}



<div class="page-wrapper">
          <div class="col-11 grid-margin">
            <div class="card">
              <div class="card-body">
                {% for corpse in corpses %}
                <form class="form-sample" method="POST">
                  {% csrf_token %}
                  <p class="card-description">
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Patient Code </label>
                        <div class="col-sm-9">
                      <input type="text" name="patient" value="{{ corpse.patient_code }}" readonly="True">
                        </div>
                      </div>
                    </div>
                    <div id="apptmt" style="border:solid thin #28B0E2; border-radius: 10px;">
                      <p class="card-description btn btn-outline-info" style="margin-top: 5px; margin-left: 20px; margin-right: 20px;">Update the Lab Test Payment Status</p>
                      {{ MorturyPayment.status }}
                    </div>
                  </div>
                  <div style="float: right; margin-top: 10px;">
                    <button type="submit" class="btn btn-success mr-2">Update Status</button>

                  </div>
                </form>
                {% endfor %}
              </div>
            </div>
          </div>
{% endblock %}
