{%extends 'account/base.html'%}
{%load static%}
{% block content %}

<div class="row no-margin-padding">
  <div class="col-md-6">
    <h3 class="block-title">Test Payment</h3>
  </div>
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">
          <span class="ti-home"></span>
        </a>
                  </li>
                  <li class="breadcrumb-item">Test</li>
      <li class="breadcrumb-item active">Test Payment</li>
    </ol>
  </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container-fluid">

  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Add Appointment</h3>
        {% for lab in lab %}
        <form class="form-sample" method="POST" action="{% url 'reception:payment-lab-update' lab.patient lab.id  %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="patient-name" class="control-label">Patient Code</label>
              <input type="text" class="form-control" name="patient" value="{{ lab.patient }}" readonly="True">
            </div>

            <div class="form-group col-md-12 required" class="control-label">

            {{ update_lab_form }}
            </div>


            <div class="form-group col-md-6 mb-3">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
          {% endfor %}
        </form>
{% endblock %}
