
{% extends 'account/base.html'%}
{% block content %}

{% for message in messages %}
      <div class="alert {{ message.tags }}  alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
        {{ message }}
        </div>
  {% endfor %}

<div id="content">
  <div class="row no-margin-padding">
    <div class="col-md-6">
      <h3 class="block-title">Patient</h3>
    </div>
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">
            <span class="ti-home"></span>
          </a>
                    </li>
                    <li class="breadcrumb-item">Patient</li>
        <li class="breadcrumb-item active">Add Death Report</li>
      </ol>
    </div>
  </div>
  <!-- /Page Title -->

  <!-- /Breadcrumb -->
  <!-- Main Content -->
  <div class="container-fluid">

    <div class="row">
      <!-- Widget Item -->
      <div class="col-md-12">
        <div class="widget-area-2 proclinic-box-shadow">
          <h3 class="widget-title">Add Death Report</h3>
                  <form method="POST" class="form-sample"  novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-8 required">
                      <label for="patient-name" class="control-label">Patient Code:</label>
                        {% for patient in patientInfo %}
                      <input type="text" name="patient" class="form-control" value="{{Patient.code}}"readonly></input></br>
                    </div>
                      <div class="form-group col-md-8 required">
                      <label for="patient-name" class="control-label">Patient Name:</label>
                      <input type="text" name="patient" class="form-control" value="{{Patient.firstname}} {{Patient.lastname}}" readonly></br></input>
                      {% endfor %}
                    </div>
                      <div class="form-group col-md-8 required">
                        <label for="patient-name" class="control-label">Date of death</label>
                        {{d_form.date_of_death}}
                      </div></br>
                      <div class="form-group col-md-8 required">
                        <label for="patient-name" class="control-label">Description</label>
                        {{d_form.death_report}}
                      </div>

                      <div class="form-group col-md-6 mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">Submit </button>
                      </div>

                  </form>


                </div>
              </div>


          </div>
          </div>
          </div>
{%endblock%}

{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- partial -->
{% for Patient in patientInfo%}
<div class="page-wrapper">
            <div class="content">
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <img class="avatar" src="{{Patient.image.url}}" alt="">
                                    </div>
                                </div>

                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                              </br>
                                                <h3 class="user-name m-t-0 mb-0">{{ Patient.firstname }}&nbsp{{Patient.lastname}}</h3>
                                                <div class="Patient-Id">Patient Id:{{Patient.code}}</div>

                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Phone:</span>
                                                    <span class="text"><a href="#">{{Patient.phone}}</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text"><a href="#">{{Patient.email}}</span></a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Address:</span>
                                                    <span class="text">{{Patient.address}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Gender:</span>
                                                    <span class="text">{{Patient.gender}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Age:</span>
                                                    <span class="text">{{Patient.age}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Last Visit</span>
                                                    <span class="text">3rd March</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                    {% for patient in patientInfo %}
                  <form class="form-sample" method="POST"  enctype="multipart/form-data" >
                    {% csrf_token %}

                    		<input type="text" name="patient" value="{{ patient.code }}" readonly="True" hidden>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Service</label>
                          <div class="col-sm-9">
                            <select class="form-control" name="service" required="False">
                            	<option id="sel">Select Service</option>
                            	<option value="laboratory" id="lab">Laboratory</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div id="lab_div" hidden="True">
                      	<div class="col-md-12">
                        	<div class="form-group row">
                          		<label class="col-sm-4 col-form-label">Test Category</label>
                          		<div class="col-sm-12">
                            		<select class="form-control test_cat" name="test_category" id="test_cat" required="False">
                      					<option>Select Lab Test(s)</option>
                      					<option data-price="5000" id="A">Maleria</option>
                      					<option data-price="15000" id="B">Typhoid</option>
                      					<option data-price="35000" id="B">Ulcers</option>
                      					<option data-price="1000" id="B">HIV</option>
                            		</select>
                          		</div>
                        	</div>
                      	</div>
                    		{{ add_lab_form | crispy}}</br>
                        <!-- <label >Instructions:</label> -->
                        <!-- {{ instructions.instructions }} -->
                      </div>
                    </div><br>
                    <div style="float: right;" id="doc_btn" hidden="True">
                      <button type="submit" class="btn btn-success mr-2" style="width: 130px">Submit</button>
                      <!--button class="btn btn-light">Cancel</button-->
                    </div>


                  </form>
                </div>
            </div>
        </div>
        <!-- <div class="profile-tabs">
          <ul class="nav nav-tabs nav-tabs-bottom" >
            <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Instructions</a></li>
          </ul> -->
          <!-- <form method="POST">
            {% csrf_token %}
            <input type="text" name="patient" value="{{ Patient.code }}" readonly="True" hidden>
            <div class="row" >
                <div class="col-md-12">
                    <div class="card-box">

                        </br>
                        <div class="button">
                          <button type="submit" class="btn btn-success mr-2">Save</button>
                        </div>
                      </div>
                      </div>
                    </div>
                </div>
            </form> -->
              {% endfor %}
{% endblock %}
