{% extends 'doctor/base.html'%}
{% block content %}

{% for Patient in patient%}
<div class="container">
    <div class="page-wrapper">
              <div class="card-box profile-header">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="profile-view">
                              <div class="profile-img-wrap">
                                  <div class="profile-img">
                                    <img class="avatar" src="{{Patient.image.url}}" alt="">
                                  </div>
                              </div>

                              <div class="profile-basic">
                                  <div class="row">
                                      <div class="col-md-5">
                                          <div class="profile-info-left">
                                              <h3 class="user-name m-t-0 mb-0">{{ Patient.firstname }}&nbsp{{Patient.lastname}}</h3>
                                              <div class="Patient-Id">Patient Id:{{Patient.code}}</div>

                                              </br></br>

                                                {% if paid %}
                                                  <span style="font-size:20px;"><b>release:</b></span>
                                                  <span class="stamp is-approved">Approved</span>
                                                  {% else %}
                                                  <span style="font-size:20px;"><b>release:</b></span>
                                                  <span class="stamp is-declined">Declined</span>
                                                  {% endif %}
                                          </div>
                                      </div>
                                      <div class="col-md-7">
                                          <ul class="personal-info">
                                              <li>
                                                  <span class="title">Phone:</span>
                                                  <span class="text"><a href="#">{{Patient.phone}}</a></span>
                                              </li>
                                              <li>
                                                  <span class="title">Email:</span>
                                                  <span class="text"><a href="#">{{Patient.email}}</span></a></span>
                                              </li>
                                              <li>
                                                  <span class="title">Address:</span>
                                                  <span class="text">{{Patient.address}}</span>
                                              </li>
                                              <li>
                                                  <span class="title">Gender:</span>
                                                  <span class="text">{{Patient.gender}}</span>
                                              </li>
                                              <li>
                                                  <span class="title">Age:</span>
                                                  <span class="text">{{Patient.age}}</span>
                                              </li></br>


                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
{% endfor %}
{% endblock %}
