{% extends "doctor/base.html" %}
{% load static %}

{% block content %}

<div class="page-wrapper">
  <div class="card">
<div class="container-fluid" >
<table id="example" class="table table-striped table-bordered nowrap"  >

<thead>
<tr>
  <th>Name</th>
  <th>Code</th>
  <th>Date of Death</th>
  <th>Action</th>


</tr>
</thead>
<tbody>


{% for Patient in deadPatient %}
<tr>
<td>{{ Patient.patient }}</td>
<td>{{ Patient.patient_code }}</td>
<td>{{ Patient.date_of_death }}</td>
<td><a class="btn btn-primary btn-labeled" href="#" role="button"><span class="btn-label"><i class="fa fa-info"></i></span>Details</a></td>

</tr>
{% endfor%}
</tbody>
</table>
{% endblock %}
