{% extends 'account/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
<div id="content">
  <div class="row no-margin-padding">
    <div class="col-md-6">
      <h3 class="block-title">Medecine</h3>
    </div>
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">
            <span class="ti-home"></span>
          </a>
                    </li>
                    <li class="breadcrumb-item">Medecine</li>
        <li class="breadcrumb-item active">Add To Cart</li>
      </ol>
    </div>
  </div>
{% for Patient in patientInfo%}
<div class="container-fluid">

  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Add To Cart</h3>
        <form method="POST" class="form-sample"  novalidate>
      {% csrf_token %}
      <input type="text" name="patient" value="{{ Patient.code }}" readonly="True" hidden>
     <div class="form-group">
       <label>Medecine:</label></br>
       {% for Drugs in drug %}
       <input type="text" class="form-control" name="DrugName" value="{{Drugs.name}}" readonly="True">

       {{add_drugs_payment }}

        {% endfor%}
</div>

 <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button type="submit" class="btn btn-success" style="50%">Submit</button>
   </div>
 </div>
</form>

</div>
</div>






{% endfor%}
{% endblock %}
