{% extends "account/base.html" %}
{% block content %}
<div class="row no-margin-padding">
  <div class="col-md-6">
    <h3 class="block-title">Quick Statistics</h3>
  </div>
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">
          <span class="ti-home"></span>
        </a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container-fluid home">


  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-4">
      <div class="widget-area proclinic-box-shadow color-red">
        <div class="widget-left">
          <span class="fas fa-capsules"></span>
        </div>
        <div class="widget-right">
          <h4 class="wiget-title">Medecine</h4>
          <span class="numeric color-red">{{total}}</span>
          <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +20% Increased</p> -->
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-4">
      <div class="widget-area proclinic-box-shadow color-green">
        <div class="widget-left">
          <span class="ti-money"></span>
        </div>
        <div class="widget-right">
          <h4 class="wiget-title">Total Sale</h4>
          <span class="numeric color-green">UGX {{totalSale}}</span>
          <!-- <p class="inc-dec mb-0"><span class="ti-angle-down"></span> -15% Decreased</p> -->
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-4">
      <div class="widget-area proclinic-box-shadow color-yellow">
        <div class="widget-left">
          <span class="ti-bar-chart"></span>
        </div>
        <div class="widget-right">
          <h4 class="wiget-title">Out Of Stock</h4>
          <span class="numeric color-yellow">{{outofstock}}</span>
          <!-- <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p> -->
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
  </div>
  <div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Appointments Year by Year</h3>

              <canvas id="myChart" width="150" height="50"></canvas>
              <script>
              var ctx = document.getElementById('myChart').getContext('2d');
              var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                      datasets: [{
                          label: '# of Votes',
                          data: [12, 19, 3, 5, 2, 3],
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 159, 64, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)',
                              'rgba(153, 102, 255, 1)',
                              'rgba(255, 159, 64, 1)'
                          ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      }
                  }
              });
          </script>
						</div>
					</div>
					<!-- /Widget Item -->
					<!-- Widget Item -->
					<!-- <div class="col-md-6">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title"> Patients Year by Year</h3>
							<div>
              <script>
              var myDoughnutChart = new Chart(ctx, {
                            type: 'doughnut',
                            data = {
                            datasets: [{
                                data: [10, 20, 30]
                                }],
                                labels: [
                                            'Red',
                                            'Yellow',
                                            'Blue'
                                        ]
                                      };
                        });
              </script>
            </div>
						</div>
					</div> -->
					<!-- /Widget Item -->
				</div>


          {% endblock %}
