{% extends 'account/base.html'%}
{% block content%}
  {% for message in messages %}
        <div class="alert  alert-{{ message.tags }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
          {{ message }}
          </div>
    {% endfor %}
    <div class="container-fluid">

      <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
          <div class="widget-area-2 proclinic-box-shadow">
            <h3 class="widget-title">Medecine List</h3>
            <div class="table-responsive mb-3">
              <nav aria-label="Page navigation example">
               <ul class="pagination justify-content-center export-pagination">
                 {% for Patient in patientInfo %}
                 <li class="page-item">
                   <a href="{% url 'pharmacy:invoice' Patient.code%}" class="page-link"><span class="ti-align-justify"></span>Invoice</a>
                 </li>
                 {%endfor %}
               </ul>
              </nav>
              <table id="tableId" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Drug name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price per Unit</th>
                <th>Supplier</th>
                <th>Effects</th>
                <th>Expiration Date</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
          {% for Patient in patientInfo%}

          {% for Drugs in drugs %}
          <tr>
            <td><a href="{% url 'pharmacy:add_drugs_payment' Patient.code Drugs.id %}" >{{Drugs.name}}</td>
            <td>{{Drugs.category}}</td>
            <td>{% if Drugs.quantity == '0' %}
                <span class="badge badge-pill badge-warning">Out Of Stock</span>
                {% else %}
              {{Drugs.quantity}}

              {% endif %}

            </td>
            <td>{{Drugs.pricePerUnit}}</td>
            <td>{{Drugs.supplier}}</td>
            <td>{{Drugs.effects}}</td>
            <td>{{Drugs.expire_date|date:"M d, Y"}}
              {% if Drugs.expire_date.date < today or Drugs.expire_date.date == today %}
            <span class="badge badge-dark">Expired</span>
            {% endif %}
            </td>
            <td><a href="{% url 'pharmacy:add_drugs_payment' Patient.code Drugs.id %}" ><span class="badge badge-pill badge-success"><i class="fa fa-success"></i>Add to cart</span></a>

            </td>
              {% endfor %}

          </tr>
        </tbody>
    </table>
  </div>
  </div>
  </div>
    {% endfor %}


{% endblock%}
