{% extends 'doctor/base.html' %}
{%load static %}
{% block content %}




  <div class="page-wrapper">
  <div class="card">
    <div class="card-body">
      <form class="form-sample" method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row required">
              <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Name</label>
              <div class="col-sm-9">
                {{ add_drugs.name }}
              </div>
            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row required">
                <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Category</label>
                <div class="col-sm-9">
                  {{ add_drugs.category }}
                </div>
              </div>
            </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row required">
                  <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Quantity</label>
                  <div class="col-sm-9">
                    {{ add_drugs.quantity }}
                  </div>
                </div>
              </div>
              </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row required">
                  <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Price Per Unit</label>
                  <div class="col-sm-9">
                    {{ add_drugs.pricePerUnit }}
                  </div>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row required">
                    <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Purchased Price</label>
                    <div class="col-sm-9">
                      {{ add_drugs.purchasedPrice }}
                    </div>
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row required">
                      <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Supplier</label>
                      <div class="col-sm-9">
                        {{ add_drugs.supplier }}
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row required">
                        <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Effects</label>
                        <div class="col-sm-9">
                          {{ add_drugs.effects }}
                        </div>
                      </div>
                    </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row required">
                          <label  for="validationCustom01" class="col-sm-3 col-form-label control-label">Expire Date</label>
                          <div class="col-sm-9">
                            {{ add_drugs.expire_date }}
                          </div>
                        </div>
                      </div>
                      </div>
            <button class="btn btn-success" type="submit" style="width:50%;">Add</button>
      </form>
        </div>
    </div>
  </div>

  <script>
  (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('form-sample');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
        });
        }, false);
        })();


        $('input.number').on('input', function() {
        this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
    });

    function isNumberKey(evt)
    {
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode != 46 && charCode > 31
      && (charCode < 48 || charCode > 57))
      return false;
      return true;
    }
  </script>

{% endblock %}
