{% extends "doctor/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- partial -->
<div class="page-wrapper">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  {% for patient in patient %}
                  <form class="form-sample" method="POST" action="{% url 'ward:patient-status' patient.code patient.id %}">
                    {% csrf_token %}
                    <p class="card-description">
                    </p>
                    <div class="row">
                      <div class="col-md-6" hidden>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Patient Code </label>
                          <div class="col-sm-9">
                        	<input style="color:black;" type="text" name="patient" value="{{ patient.code }}" readonly="True">
                          </div>
                        </div>
                      </div>
                      <div id="apptmt" class="col-lg-6">
                        <p class="card-description btn btn-outline-info" style="">Update the Patient Status</p>
                        {{ update_patientStatus_form | crispy }}
                      </div>
                    </div>
                    <div style="float: right; margin-top: 10px;">
                    	<button type="submit" class="btn btn-success mr-2">Update Status</button>
                      {% if user.role.role == 'is_doctor' %}
                    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Generate Report</button>
                      {% endif %}
                    </div>
                  </form>
                  {% endfor %}
                </div>
              </div>
<!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      {% for patient in patient %}
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Patient Ward Report for {{ patient.firstname }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div id="myElem" class="alert alert-success" style="display:none">Final Report Successfuly Saved</div>
        <div id="myErr" class="alert alert-danger" style="display:none">Nothing to Save</div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="create_report_form" method="POST" action="{% url 'ward:patient-finalReport' patient.code patient.id %}">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" rows="10" id="patient" value="{{patient.id}}" style="border: none;" hidden>
            </div>
            <h5><u>Doctor Prescription</u></h5><br>
            <div class="form-group">
              <textarea class="form-control" rows="7" id="prescription">{{ patient.patientstatus.prescription }}</textarea>
            </div>

            <h5><u>Nurse Report</u></h5><br>
            <div class="form-group">
              <textarea class="form-control" rows="7" id="report" style="border:none; align-content:left;">{{ patient.patientstatus.report }}</textarea>
            </div>

            <input type="submit" id="btnSubmit" class="btn btn-primary mdl-js-button mdl-js-ripple-effect" value="Save Report">
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        	<!-- <button type="button" class="btn btn-primary">Save changes</button> -->

        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
