{% extends 'doctor/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
  {% for Patient in patientInfo %}
      <div class="page-wrapper">
        <div class="content">
            <div class="card-box profile-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-view">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                    <img class="avatar" src="{{Patient.image.url}}" alt="">
                                </div>
                            </div>

                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="profile-info-left">
                                            <h3 class="user-name m-t-0 mb-0">{{ Patient.firstname }}&nbsp{{Patient.lastname}}</h3>
                                            <div class="Patient-Id">Patient Id:{{Patient.code}}</div>
                                            <div class=""><a href="{% url 'reception:add-appointment' Patient.code %}" class="btn btn-primary">Appointment</a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="personal-info">
                                            <li>
                                                <span class="title">Phone:</span>
                                                <span class="text"><a href="#">{{Patient.phone}}</a></span>
                                            </li>
                                            <li>
                                                <span class="title">Email:</span>
                                                <span class="text"><a href="#">{{Patient.email}}</span></a></span>
                                            </li>
                                            <li>
                                                <span class="title">Address:</span>
                                                <span class="text">{{Patient.address}}</span>
                                            </li>
                                            <li>
                                                <span class="title">Gender:</span>
                                                <span class="text">{{Patient.gender}}</span>
                                            </li>
                                            <li>
                                                <span class="title">Age:</span>
                                                <span class="text">{{Patient.age}}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="profile-tabs">
              <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a class="nav-link active" href="#appointment" data-toggle="tab">Appoinments</a></li>
                <li class="nav-item"><a class="nav-link " href="#tests" data-toggle="tab">Tests</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane show active" id="appointment">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                              <div class="table-responsive">
                                  <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                      <tr>
                                          <th>Appointment</th>
                                          <th>Status</th>


                                      </tr>
                                    </thead>
                                    {% for appointment in history_appointment %}
                                          <tbody>
                                                <tr>
                                                    <td>{{appointment.patient}}</td>
                                                    <td>{{ appointment.doctor }}</td>
                                                    {% if appointment.cashappointmentstatus.status == 'Paid' %}
                                                    <td>{{ appointment.cashappointmentstatus.status }}</td>
                                                    {% elif appointment.cashappointmentstatus.status == 'Unpaid' %}
                                                    <td>{{ appointment.cashappointmentstatus.status }}</td>
                                                    {% endif %}
                                                    <td>{{ appointment.created_date }}</td>
                                                </tr>
                                            </tbody>
                                    {% endfor %}
                                </table>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="tab-pane" id="tests">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="card-box">
                                    <div class="table-responsive">
                                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                                          <thead>
                                            <tr>
                                                <th>Appointment</th>
                                                <th>Status</th>


                                            </tr>
                                          </thead>
                                          {% for lab in history_lab %}
                                                <tbody>
                                                      <tr>
                                                          <td>{{lab.patient}}</td>
                                                          <td>{{ lab.tests }}</td>
                                                          <td >{{ lab.totalPrice }}</td>
                                                          {% if lab.cashlabstatus.status == 'Paid' %}
                                                          <td>{{ lab.cashlabstatus.status }}</td>
                                                          {% else %}
                                                          <td>{{ lab.cashlabstatus.status }}</td>
                                                          {% endif %}
                                                          <td>{{ lab.created_date }}</td>
                                                      </tr>
                                                  </tbody>
                                          {% endfor %}
                                      </table>
                                    </div>
                                </div>
                              </div>
                            </div>
                    </div> -->
{% endblock %}
