{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container-fluid">

  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
                  <div class="table-responsive">
                    <table class="table">

                      <tbody>
                        <form method="POST"  enctype="multipart/form-data">
                          {% csrf_token %}
                            {{ form | crispy }}
                          <div class="form-group">
                            <button class="btn btn-primary submit-btn btn-block">Update User Information</button>
                          </div>
                        </form>

                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
<!-- content-wrapper ends -->

{% endblock %}
